/* BASIC */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #ffffff;
    color: #222;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #002b66;
    color: white;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffcc00;
}

/* PAGE TITLE */
.page-title {
    text-align: center;
    font-size: 32px;
    color: #002b66;
    margin-top: 20px;
}

/* ACCORDION */
.accordion-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

.accordion-btn {
    width: 100%;
    padding: 15px;
    background: #0a4cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 18px;
    transition: 0.2s;
}

.accordion-btn.active {
    background: #0038cc;
}

.accordion-content {
    display: none;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.accordion-content ul {
    padding-left: 20px;
}

.accordion-content li {
    padding: 8px 0;
}
